header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #5d6ba1;
  background-image: url("https://www.transparenttextures.com/patterns/cutcube.png");
}

.username {
  font-size: 24px;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}


@media only screen and (max-width: 420px) {
  header {
    height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
}