textarea {
  border-bottom: 4px solid #383838;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color:transparent;
  resize: none;
  width: 100%;
  height: auto;
}

::-webkit-input-placeholder{
  font-weight: bold;
  color: #555149
}

.button-wordcount {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
}

button {
  background-color: #4051A1;
  color: #f4f1ec;
}

#char-count.negative {
  color: rgb(207, 12, 12);
}

